@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

::-webkit-scrollbar {
    width: 6.5px;
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    width: 6.5px;
    background: rgb(148, 148, 148);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

body {
    background: #fff;
    color: #000;
    user-select: none; 
}

a {
    text-decoration: none;
    color: #000;
}

/* NAV */

._nav{
    padding-top: .5%;
    padding-bottom: .5%;
    width: 100%;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 18% 5%;
    grid-template-rows: auto;
    grid-template-areas: "p ul .";
    align-items: center;
    box-shadow: 0 1px 10px 0 black;

}

._nav > a > p{
    font-size: 2.6em;
    font-weight: 900;
    padding-left: 9%;
    color: rgb(102, 51, 0); 
}

._nav > ul{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
}

._nav > ul > li{
    font-size: 1.2em;
    margin: auto;
    transition: .25s;
    position: relative;
    font-weight: 600;
}

._nav > ul > li:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 14%;
    bottom: 0;
    left: 0;
    background-color: #000;
    transition: .25s;
    transform: scaleX(0);;
}

._nav > ul > li:hover:after{
    width: 100%;
    transform: scaleX(1);;
}

/* ._nav > ul > li:hover{
    font-size: 1.2em;
    margin: auto;
    background: var(--yellow);
    transform: scaleX(0);
    transition: transform 0.1s ease-in-out;
} */


/* HEADER */

._header {
    width: 100%;
    height: 250px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: auto;
    align-items: center;
}

._header>._h1 {
    grid-column: 2/3;
}

._header>._h1>h1 {
    font-size: 3.2em;
}

._header>._h1>h1>span {
    font-size: 1.3em;
    letter-spacing: .05em;
    color: rgb(102, 51, 0); 
}

._header>._h1>p {
    font-size: 1.3em;
}

/* MAIN */

._main {
    width: 100%;
    height: 500px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 20% 1fr 15%;
    grid-template-rows: 15% 20% 20% 25% 1fr;
    align-items: center;
}

._main>h2 {
    font-size: 2em;
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: end;
}

._main>.lat10 {
    padding-top: 2%;
    padding-left: 0%;
    font-size: 1.3em;
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: start;
}

._main>ul {
    margin-top: 2%;
    padding-top: 2%;
    padding-left: 1.5%;
    font-size: 1.3em;
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: start;
}

._main>ul>li {
    padding-bottom: .4%;
    transition: .25s;
}

._main>ul>li:hover {
    font-size: 1.2em;    
}

._main>.natura {    
    margin-top: 3%;
    font-weight: 600;
    padding-top: 5%;
    padding-left: 0%;
    font-size: 1.3em;
    grid-row: 4/5;
    grid-column: 2/3;
    align-self: start;
}

/* SECTION */

._section {
    width: 100%;
    height: 1050px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 20% 1fr 15%;
    grid-template-rows: 10% 1fr;
    align-items: center;
}

._section>h2 {
    font-size: 2em;
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: end;
}

/* OFERTA */

.oferta {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 27% 27% 27%;
    grid-template-rows: 420px 420px;
    grid-template-areas: 
    ".przedmiot1 .przedmiot2 .przedmiot3",
    ".przedmiot4 .przedmiot5 .przedmiot6";
    gap: 2%;
}

.oferta a, ul a {
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease 0s;
}

.oferta a:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, .7);
    transition: all 0.2s ease 0s;
}


.przedmiot1,
.przedmiot2,
.przedmiot3,
.przedmiot4,
.przedmiot5,
.przedmiot6 {
    background: #ebebeb;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 57% 43%;
    align-items: center;
}

.oferta img {
    width: 270px;
    height: 202.5px;
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: center;
}

.opis {
    grid-row: 2/3;
    grid-column: 2/3;
}

.przedmiot1 {}

.przedmiot2 {}

.przedmiot3 {}

/* FOOTER */


footer{
    width: 100%;
    height: 40px;
    background: rgb(255,255,255); 
    font-size: 1.25em;
    text-align: center;
    padding-top: 10px;
}

footer p span{
    font-weight: 600;
    color: rgb(102, 51, 0); 
}


/* PARALLAX */

.parallax {
    min-height: 500px;
    background: transparent;
}

.parallax1 {
    min-height: 400px;
    background: transparent;
}


/* KONTAKT */

.main_ankieta {
    font-size: 1.2em; 
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.obramowanieankiety {
    margin-top: 15px;
    padding: 20px;
    border: 2px dashed rgb(102, 51, 0);
}

.kontaktnag {
    font-size: 45px;
    font-weight: 600;
}

.inputk {
    padding: 3px;
    border: 2px solid #000;
}

.textwysyalny {
    padding: 5px;
    outline: none;
    border: 2px solid #000;
}

.guzikwysylania {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    padding-right: 4%;
    background: rgb(102, 51, 0);
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid rgb(102, 51, 0);
    color: #fff; 
    font-size: 1.1em;
}
