@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

body {
    background: #fff;
    color: #000;
}

a{
    text-decoration: none;
    color: #000;
    transition: .3s;
}

a:hover{
    text-decoration: none;
    color: rgb(255, 0, 0);
}

.container {}

/* HEADER */

._header {
    width: 100%;
    height: 300px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: auto;
    align-items: center;
}

._header>._h1 {
    grid-column: 2/3;
}

._header>._h1>h1 {
    font-size: 3.2em;
}

._header>._h1>h1>span {
    font-size: 1.3em;
    letter-spacing: .05em;
}

._header>._h1>p {
    font-size: 1.3em;
}

/* MAIN */

._main {
    width: 100%;
    height: 500px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 20% 1fr 15%;
    grid-template-rows: 30% 1fr;
    align-items: center;
}

._main>h2 {
    font-size: 2em;
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: end;
}

._main>p {
    padding-top: 2%;
    padding-left: 0%;
    font-size: 1.3em;
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: start;
}

/* SECTION */

._section {
    width: 100%;
    height: 700px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 20% 1fr 15%;
    grid-template-rows: 20% 1fr;
    align-items: center;
}

._section>h2 {
    font-size: 2em;
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: end;
}

/* OFERTA */

.oferta {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 27% 27% 27%;
    grid-template-rows: 420px;
    grid-template-areas: ".przedmiot1 .przedmiot2 .przedmiot3";
    gap: 2%;
}

.przedmiot1,
.przedmiot2,
.przedmiot3 {
    background: #ebebeb;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 57% 43%;
    align-items: center;
}

img {
    width: 270px;
    height: 202.5px;
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: center;
}

.opis{
    grid-row: 2/3;
    grid-column: 2/3;
}

.przedmiot1 {}

.przedmiot2 {}

.przedmiot3 {}

/* FOOTER */

._footer{
    width: 100%;
    height: 200px;
    background: #000;
}


/* PARALLAX */

.parallax {
    min-height: 500px;
    background: transparent;
}