@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

body {
    background: #fff;
    color: #000;
}

.container {}

/* HEADER */

._header {
    width: 100%;
    height: 300px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 26% 1fr;
    grid-template-rows: auto;
    align-items: center;
}

._header>._h1 {
    grid-column: 2/3;
}

._header>._h1>h1 {
    font-size: 3.2em;
}

._header>._h1>h1>span {
    font-size: 1.3em;
    letter-spacing: .05em;
}

._header>._h1>p {
    font-size: 1.3em;
}

._main {
    width: 100%;
    height: 550px;
    background-color: #fff;
}



/* PARALLAX */

.parallax {
    min-height: 500px;
    background: transparent;
}

